.alertfailed {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(228, 228, 228, 0.637);
    min-height: 100vh;
    position: absolute;
    width: 100%;
}

.alertfailed_popup {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 50%;
    left: 50%;
    width: 375px;
    border-radius: 10px;
}

.alertfailed_popup img {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

.alertfailed_popup label {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50;
    margin-bottom: 10px;
    margin-left: 10px;
}

.alertfailed_popup button {
    background-color: blueviolet;
    color: #fff;
    margin-top: 200px;
    border-radius: 10px;
    border: blueviolet;
    padding: 10px 60px 10px 60px;
    margin-bottom: 10px;
    cursor: pointer;
}