.alertsuccess1 {

    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(236, 236, 236, 0.683);
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
}

.alertsuccess1_popup {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 50%;
    border-radius: 10px;
    left: 50%;
}

.alertsuccess1_popup img {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.alertsuccess1_popup label {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    margin-bottom: 10px;
    margin-left: 10px;
}

.alertsuccess1_popup button {
    background-color: blueviolet;
    color: #fff;
    margin-top: 200px;
    border-radius: 10px;
    border: blueviolet;
    padding: 10px 60px 10px 60px;
    margin-bottom: 10px;
    margin-right: 20px;
    cursor: pointer;
}