.bargraph {
    /* background-color: black; */
    min-width: 350px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: #f3f3f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
    overflow: hidden;
    height: 260px;
}

.bargraph_title label {
    color: #6b7a99;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -5px;
    margin-right: 5px;
}


.bargraph_title_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.threedot_icon_div {
    /* background-color: red; */
    width: 15px;
}

.bargraph_graph {
    /* background-color: yellow; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 100%;
    overflow-x: scroll;
}

.manager_bargraph_graph {
    /* background-color: aqua; */
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* max-width: 100%; */
    overflow-x: scroll;
}

.manager_bargraph_graph ul {
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: first baseline;
    padding: 0;
    margin: 0;
    align-items: center;
    margin-right: -650px;
}


.bargraph_threedot_icon {
    margin-top: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bargraph_graph ul {
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: first baseline;
    padding: 0;
    margin: 0;
    align-items: center;
    margin-right: -650px;
}

.bargraph_graph li {
    /* background-color: brown; */
    /* padding-left: 20px;
    padding-right: 20px; */
    margin-left: 10px;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    min-height: 90px;
}


.manager_bargraph_graph li {
    /* background-color: brown; */
    margin-left: 10px;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    min-height: 90px;
    /* position: relative; */
}


.bargraph_graph label,
.manager_bargraph_graph label {
    display: flex;
    flex-direction: row;
}

.bargraph_blue_value,
.manager_bargraph_blue_value {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}


.bargraph_blue_name,
.bargraph_title label,
.manager_bargraph_blue_name,
.manager_bargraph_title label {
    /* background-color: black; */
    color: #4D5E80;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bargraph_blue_name,
.manager_bargraph_blue_name {
    /* background-color: yellow; */
    min-height: 50px;
    width: 151px;
    justify-content: center;
    align-items: center;
}

.bargraph_bluegraph,
.manager_bargraph_bluegraph {
    background-color: blue;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.bargraph_campaignwiseprospect_popup_content label {
    color: #6b7a99;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px 5px;
    font-size: 12px;
}

.campaign_rectangle_select {
    background-color: white;
    color: rgba(125, 143, 177, 1);
    height: 25px;
    width: 100px;
    margin-right: -5px;
    /* box-shadow: 5px 5px 5px -5px rgba(153, 152, 152, 0.496); */
    border: none;
    outline: none;
}


.bargraph_campaignwiseprospect_popup {
    background-color: white;
    box-shadow: 2px 2px 2px 2px lightgray;
    height: 120px;
    width: 120px;
    position: relative;
    display: none;
}

.bargraph_campaignwiseprospect_popup_content,
.manager_bargraph_campaignwiseprospect_popup_content {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}


.manager_bargraph_campaignwiseprospect_popup {
    background-color: white;
    box-shadow: 2px 2px 2px 2px lightgray;
    height: 60px;
    width: 120px;
    position: absolute;
    display: none;
}

.bargraph_graph::-webkit-scrollbar {
    /* background-color: #6b7a99; */
    border-radius: 10px;
    height: 0.5em;
    visibility: hidden;
}

.bargraph_graph::-webkit-scrollbar-thumb {
    background-color: #a3a3ac;
    border-radius: 10px;
    visibility: hidden;
}

.bargraph_graph::-webkit-scrollbar:hover,
.bargraph_graph::-webkit-scrollbar-thumb:hover {
    visibility: visible;
}

.manager_bargraph_graph::-webkit-scrollbar {
    border-radius: 10px;
    height: 0.5em;
    visibility: hidden;
}

.manager_bargraph_graph::-webkit-scrollbar-thumb {
    background-color: #a3a3ac;
    border-radius: 10px;
    visibility: hidden;
}

.manager_bargraph_graph::-webkit-scrollbar:hover,
.manager_bargraph_graph::-webkit-scrollbar-thumb:hover {
    visibility: visible;
}


.threedot_icon_div:hover .bargraph_campaignwiseprospect_popup {
    display: block;
    right: 700%;
}

.threedot_icon_div:hover .manager_bargraph_campaignwiseprospect_popup {
    display: block;
    right: 820px;
    top: 180px;
}


@media only screen and (max-width:1050px) {
    .threedot_icon_div:hover .manager_bargraph_campaignwiseprospect_popup {
        right: 300px;
        top: 180px;
    }
}