.bargraph {
    /* background-color: yellowgreen; */
    margin-top: 50px;
    margin-left: 50px;
    background-color: #f3f3f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 30%;
    min-width: 150px;
    border-radius: 10px;
}

.bargraph_title label,
.bargraph_title .icon{
    color: #6b7a99;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bargraph_title label{
    margin-left: -5px;
    margin-right: 5px;
}

.bargraph_graph{
    /* background-color: aqua; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bargraph .icon {
    margin-top: 5px;
    padding-left: 45px;
    /* color: #4D5E80; */
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bargraph_graph ul {
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    align-items: center;
}

.bargraph_graph li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

/* .bargraph_graph label{
    justify-content: space-between;
    color: gray;
} */


.bargraph_blue_value {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.bargraph_green_value {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

.bargraph_orange_value {
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
}

.bargraph_blue_name,
.bargraph_green_name,
.bargraph_orange_name,
.bargraph_title label{
    color: #4D5E80;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bargraph_bluegraph {
    background-color: blue;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.bargraph_greengraph {
    background-color: green;
    width: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bargraph_orangegraph {
    background-color: orangered;
    width: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}