.bargraph {
    margin-top: 50px;
    margin-left: 50px;
    background-color: #f3f3f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
}

.bargraph_title label,
.bargraph_title .icon {
    color: #6b7a99;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bargraph_title label {
    margin-left: -5px;
    margin-right: 5px;
}

.bargraph_graph {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bargraph .icon {
    margin-top: 5px;
    padding-left: 75px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bargraph_graph ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    align-items: center;
}

.bargraph_graph li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
}


.bargraph_blue_value {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}


.bargraph_blue_name,
.bargraph_title label {
    color: #4D5E80;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bargraph_bluegraph {
    background-color: blue;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}