.Campaignlist_Mainlist_header {
  margin-top: 30px;
  background-color: white;
  width: 100%;
  padding-left: 15px;
  
}
.Campaignlist_Mainlist_row1 ul {
  width: 90%;
  display: flex;
  flex-direction: row;
  font-size: smaller bold;
  background-color: white;
  align-items: center;
  margin: 20px;
  padding-left: 40px;
  color:rgba(125, 143, 177, 1);
margin-left: -14px;

}

.Campaignlist_Mainlist_row1 ul li {
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 25px;
  list-style-type: none;
  background-color: white;
  width: 90%;
  display: flex;
  flex-direction: row;
  font-size: smaller bold;
  font-family:Arial, Helvetica, sans-serif;
  align-items: center;
  margin: 15px;
  padding-right: 20px;
  color:rgba(125, 143, 177, 1);
  margin-left: -2px;

}

.Campaignlist_Cb{
  min-width: 15px;
  max-width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 15px;
  max-height: 15px;
  border-radius: 100px;
  color: #c3cad9;
  font-size: 1.2rem;
  border: 1px solid lightgray;
  margin-left: -35px;
  
}
.Campaignlist_Mainlist_Innerbox {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  max-height: 500px;
  overflow-y: scroll;
  box-shadow: 0px 0px 0px 1px #f3f3f4;
}
.Campaignlist_Mainlist_list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}
.Campaignlist_Mainlist_list_row_top{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #fafbfc;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
}
.Campaignlist_Mainlist_list_row_topSelected{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #9155FD;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
}
.Campaignlist_Mainlist_list_row_topSelected div,.Mainlist_list_row_topSelected div{
color: white;
}
.Campaignlist_Mainlist_list_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding-left: 20px;
  color:rgba(142, 154, 177, 1);
  font-family:Arial, Helvetica, sans-serif;

}
.Campaignlist_Mainlist_list_row:hover{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding-left: 20px;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
}

.Campaignlist_Mainlist_list_row7_top{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #9155FD;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
}
.Campaignlist_Mainlist_list_row7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding-left: 20px;
}

.Campaignlist_Mainlist_Button {
  display: flex;
  flex-direction: row;
  margin-left: 50%;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid lightgray;
}
.Campaignlist_Cb checkbox label:checked {
  background-color: rgb(215, 105, 21);

}
.Campaignlist_Mainlist_list_row_top:hover{
  background-color:#9155FD;
}
.Campaignlist_itmFirstName{
 width:121px;
 
}
.Campaignlist_itmLastName{
  width:80px;
  margin-left:-2px;
}
.Campaignlist_itmStatus{
  width:83px;
  margin-left:14px;
}
.Campaignlist_itmdate{
  width: 81px;
  margin-left:15px;
}
.Campaignlist_itmEmail{
  width: 82px;
  margin-left:15px;
}

.Campaignlist_itmResponses{
  width:30px;
  margin-left:15px;
}
.Campaignlist_itmOwner{
  margin: 2px;
  width:30px;
  
}
.Campaignlist_Header_Main1{
  width:60px;
  margin-left:30px;
}
.Campaignlist_Header_Main2{
  width: 139px;
  margin-left: 113px;
}

.Campaignlist_Header_Main3{
  width:10px;
  margin-left: 160px
  
}
.Campaignlist_Header_Main4{
  width:104px;
  margin-left:147px;
}
.Campaignlist_Header_Main5{
  width:75px;
  margin-left:59px;
}
.Campaignlist_Header_Main6{
  width:106px;
  margin-left:2px;
}
.Campaignlist_Header_Main7{
  width: 34px;
  margin-left: 78px;

}
.Campaignlist_Mainlist_Innerbox::-webkit-scrollbar {
  background-color: #d7dce4;
  border-radius: 10px;
  height: 0.7em;
  width: 0.5em;
}

.Campaignlist_Mainlist_Innerbox::-webkit-scrollbar-thumb {
  background-color:#f3f3f4;
  border-radius: 10px;
}