
.checkList_outer{
    background-color: white;
    width: 100%;
    border-radius: 20px;
}
.checkList_inner1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.checkList_inner11{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 10px;
}
.checkList_inner11 input{
    width: 88%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.checkList_inner12{
    background-color: #8833FF;
    color: rgba(255, 255, 255, 0.923);
    padding: 6px 35px;
    border-radius: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.checkList_inner2{
    padding: 15px 42px;
    display: flex;
    align-items: center;
}
.checkList_inner2 input{
    zoom: 1.5;
}
.checkList_inner2 label{
    font-size: large;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
.checkList_outer_inner2{
    padding-bottom: 15px;
    overflow-y: scroll;
    max-height: 150px;
}
.close{
    font-size:x-large;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.checkList_outer_inner2::-webkit-scrollbar {
    background-color: #d7dce4;
    border-radius: 10px;
    width: 0.75em;
    height: 0.5em;
}

.checkList_outer_inner2::-webkit-scrollbar-thumb {
    background-color:#f3f3f4;
    border-radius: 10px;

}

::-webkit-scrollbar{
    background-color: #d7dce4;
    border-radius: 10px;
    height: 0.7em;
    width: 0.5em;
}
::-webkit-scrollbar-thumb{
    background-color:#f3f3f4;
    border-radius: 10px;
    height: 0.2em;


}