.Filterbar_Column {
    height: 10vh;
    border-radius: 2px;
    /* border-style: ridge; */
    border-color: #EEEFEF;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 0px 1px #d3d3d347;
    font-family: Arial, Helvetica, sans-serif;
}

.Column1 {
    /* background-color: blueviolet; */
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Column1_Cirleicon {
    color: #C3CAD9;
    font-size: large;
    margin: 5px;
}

.Column2 {
    /* background-color:yellow; */
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Column2_inner1,
.Column2_inner2,
.Column2_inner3,
.Column2_inner4 {

    background-color: white;
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 0.2px solid #C3CAD9;
    box-shadow: 1px 1px #fafafa4a;

}

.Column2_inner1_Filter,
.Column2_inner2_Search,
.Column2_inner3_Edit,
.Column2_inner4_Delete {
    color: #C3CAD9;
    font-size: large;
    padding-top: 3px;
}

.Column1 label,
.Column2_inner1 label,
.Column2_inner2 label,
.Column2_inner3 label,
.Column2_inner4 label {
    color: #8298c2;
    padding-left: 5px;
    padding-top: 2px;
}

.Column3 {
    /* background-color: tomato; */
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Column3_Menuicon,
.Column3_CgMenuicon,
.Column3_Listicon {
    background-color: white;
    width: 10%;
    border-radius: 2px;
    padding: 6px;
    font-size: large;
    color: #C3CAD9;
    border: 0.2px solid #C3CAD9;
    box-shadow: 1px 1px lightgray;
}