.filterbar {
    height: 10vh;
    border-radius: 2px;
    /* border-style: ridge; */
    box-shadow: 0px 0px 0px 1px #f3f3f4;
    display: flex;
    flex-direction: row;

}

.filterbar_column1 {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterbar_column1_cirleicon {
    color: #C3CAD9;
    font-size: large;
    margin: 5px;
}

.filterbar_column2 {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.filterbar_column2_inner1,
.filterbar_column2_inner2,
.filterbar_column2_inner3,
.filterbar_column2_inner4 {

    background-color: white;
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 0.2px solid #f3f3f4;
    box-shadow: 0px 0px 0px 1px #f3f3f4;
    

}

.filterbar_column2_inner1_filtericon,
.filterbar_column2_inner2_searchicon,
.filterbar_column2_inner3_editicon,
.filterbar_column2_inner4_deleteicon {
    color: #C3CAD9;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 3px;
}

.filterbar_column1 label,
.filterbar_column2_inner1 label,
.filterbar_column2_inner2 label,
.filterbar_column2_inner3 label,
.filterbar_column2_inner4 label {
    color: #8298c2;
    padding-left: 5px;
    padding-top: 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;

}

.filterbar_column3 {
    /* background-color: tomato; */
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.filterbar_column3_menuicon,
.filterbar_column3_cgmenuicon,
.filterbar_column3_listicon {
    background-color: white;
    width: 10%;
    border-radius: 2px;
    padding: 6px;
    font-size: large;
    color: #C3CAD9;
    border: 0.2px solid #f3f3f4;
    box-shadow: 0px 0px 0px 1px #f3f3f4;
}