body {
  margin: 0;
}
.headbar_Topbar_header {
  background-color: #f3f3f4;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headbar_Topbar_icon_circle {
  font-size: 14px;
}

/* .headbar_Topbar_header label{
  color: rgba(125, 143, 177, 1);
} */

.headbar_Topbar_icon_circle,
.headbar_Topbar_Bell_Circle,
.headbar_Topbar_cancel_circle {
  background-color: white;
  border-radius: 20px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.headbar_Topbar_col1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  color: rgb(114, 122, 136);
  padding-left: 10px;
}

.headbar_Topbar_col1 label {
  padding-top: 3px;
  font-size: 15px;
}

.headbar_Topbar_col2 ul {
  display: flex;
  flex-direction: row;
}
.headbar_Topbar_col2 ul li{
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(125, 143, 177, 1);
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 40px;
  list-style-type: none;
  font-size: 13px;
}

.headbar_Topbar_col2 ul li label{
  font-weight: lighter;
}

.headbar_threeDots_icon {
  margin-left: 17px;
}

.headbar_Topbar_col3 {
  width: 280px;
  border-radius: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: lightgray;
  background-color: white;
  border: 1px solid lightgray;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: -1px 5px 5px -3px rgba(211, 211, 211, 0.778);
}

.headbar_Topbar_col3 input {
  border: none;
  outline: none;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 10px;
  width: 170px;
  height: 20px;
}

.headbar_Topbar_searchIcon {
  font-size: 25px;
}

.headbar_Topbar_col4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  width: 200px;
}

.headbar_Topbar_col4 label {
  color: rgba(125, 143, 177, 1);
}
.headbar_Topbar_profileIcon,
.headbar_Topbar_BellIcon,
.headbar_Topbar_cancelIcon {
  color: #9ca7b1;
}

.headbar_Topbar_profileIcon {
  font-size: 22px;
  font-weight: 50px;
  margin-left: 38px;
  padding-bottom: 2px;
  margin-bottom: 3px;
}

.headbar_Topbar_col4 label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-left: 10px;
  font-weight: 100px;
}

.headbar_Topbar_col5 {
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  padding-left: 25px;
}

.headbar_Topbar_cancel_circle {
  margin-left: 25px;
}

.headbar_Topbar_content {
  position: absolute;
  margin-left: -12px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 200px;
}

.headbar_Topbar_content label {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(79, 83, 90, 0.871);
}

.headbar_Topbar_content_cola {
  background-color: #f3f3f4;
  width: 22%;
  margin-right: 40px;
}

.headbar_Topbar_content_cola_list {
  padding: 30px;
  border: 1px solid rgb(235, 234, 234);
  display: flex;
  align-items: center;
}

.headbar_Topbar_content_cola_list label {
  padding-left: 40px;
  padding-top: 10px;
}

.headbar_Topbar_content_cola_list1 {
  height: 60px;
  border: 1px solid rgb(235, 234, 234);
  margin-right: 20px;
  width: 292px;
}

.headbar_Topbar_content_colb {
  background-color: white;
  padding-left: 100px;
  padding-top: 20px;
  width: 20%;
}

.headbar_Topbar_label_head {
  font-size: 20px;
}

.headbar_Topbar_content_colb_list1 {
  padding: 10px 20px 10px 10px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headbar_Topbar_caricon {
  color: #c499ff;
  display: flex;
  position: absolute;
}

.headbar_Topbar_bookicon {
  color: aqua;
  display: flex;
  position: absolute;
  padding-right: 10px;
  padding-top: 3px;
}

.headbar_Topbar_content_colb_list1 label {
  font-size: 1.38rem;
  padding-left: 35px;
  display: flex;
  flex-direction: row;
}

.headbar_Topbar_content_colb_list {
  padding-top: 20px;
}

.headbar_Topbar_content_colc {
  background-color: white;
  padding-left: 100px;
  padding-top: 20px;
  width: 20%;
}

.headbar_Topbar_content_cold {
  background-color: white;
  padding-left: 100px;
  padding-top: 20px;
  width: 20%;
}

.headbar_headbar1_bookicon {
  color: #c499ff;
}
