.Leadlist_Mainlist_header {
  margin-top: 30px;
  background-color: white;
  width: 95%;
  height: 100%;
  padding-left: 15px;
  
}
.Leadlist_Mainlist_row1 ul {
  width: 90%;
  display: flex;
  flex-direction: row;
  font-size: smaller bold;
  background-color: white;
  align-items: center;
  margin: 20px;
  padding-left: 10px;
  color:rgba(125, 143, 177, 1);


}

.Leadlist_Mainlist_row1 ul li {
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 25px;
  list-style-type: none;
  background-color: white;
  width: 90%;
  display: flex;
  flex-direction: row;
  font-size: smaller bold;
  font-family:Arial, Helvetica, sans-serif;
  align-items: center;
  margin: 15px;
  padding-right: 20px;
  color:rgba(125, 143, 177, 1);

}

.Leadlist_Cb{
  min-width: 15px;
  max-width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 15px;
  max-height: 15px;
  border-radius: 100px;
  color: #c3cad9;
  font-size: 1.2rem;
  border: 1px solid lightgray;
  
}
.Leadlist_Mainlist_Innerbox {
  margin-top: 10px;
  margin-left: 18px;
  margin-right: 10px;
  padding: 10px;
  height: 20%;
  box-shadow: 0px 0px 0px 1px #f3f3f4;
}
.Leadlist_Mainlist_list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}
.Leadlist_Mainlist_list_row_top{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #FAFBFC;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
}
.Leadlist_Mainlist_list_row_topSelected{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #9155FD;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
}
.Leadlist_Mainlist_list_row_topSelected label,.Leadlist_Mainlist_list_row_topSelected div{
color: white;
}
.Leadlist_Mainlist_list_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding-left: 20px;
  color:rgba(142, 154, 177, 1);
  font-family:Arial, Helvetica, sans-serif;

}
.Leadlist_Mainlist_list_row:hover{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding-left: 20px;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
}

.Leadlist_Mainlist_list_row7_top{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #9155FD;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
}
.Leadlist_Mainlist_list_row7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding-left: 20px;
}

.Leadlist_Mainlist_Button {
  display: flex;
  flex-direction: row;
  margin-left: 50%;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid lightgray;
}
.Leadlist_Cb checkbox label:checked {
  background-color: rgb(215, 105, 21);

}
.Leadlist_Mainlist_list_row_top:hover{
  background-color:#9155FD;
}
.Leadlist_itmFirstName{
 width:80px;
 
}
.Leadlist_itmLastName{
  width:80px;
  margin-left:15px;
}
.Leadlist_itmStatus{
  width:80px;
  margin-left:14px;
}
.Leadlist_itmdate{
  width:82px;
  margin-left:15px;
}
.Leadlist_itmEmail{
  width:160px;
  margin-left:15px;
}

.Leadlist_itmResponses{
  width:30px;
  margin-left:15px;
}
.Leadlist_itmOwner{
  margin: 2px;
  width:30px;
  
}
.Leadlist_Header_Main1{
  width:60px;
  margin-left:15px;
}
.Leadlist_Header_Main2{
  width: 89px;
  margin-left: 126px;
}

.Leadlist_Header_Main3{
  width: 61px;
  margin-left: 40px;
}
.Leadlist_Header_Main4{
  width: 103px;
  margin-left: 76px;
}
.Leadlist_Header_Main5{
  width:43px;
  margin-left:107px;
}
.Leadlist_Header_Main6{
  width: 30px;
  margin-left: 110px;
}
.Leadlist_Header_Main7{
  width: 43px;
  margin-left: 134px;

}
::placeholder{
  color: lightgray;
  font-weight: bold;
}