.leftbar {
    min-height: 100vh;
    background-color: #f3f3f4;
    padding-top: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 68px;
  }
  .leftbar_whitecircle,
  .leftbar_whitecircle1,
  .leftbar_whitecircle2,
  .leftbar_whitecircle3 {
    min-width: 35px;
    max-width: 35px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    background-color: white;
    min-height: 35px;
    max-height: 35px;
    border-radius: 60px;
    font-size: 1.2rem;
    align-items: top;
    color: #9ca7b1;
  }