.list_main {
    background-color:rgb(255, 255, 255);
    /* margin-right: 100px; */
    margin-top: 15px;
    border-radius: 5px;
    /* background-color: #F7F8FA; */
    box-shadow: 1px 1px 4px 3px rgba(153, 152, 152,0.5);
    display: flex;
    flex-direction: column;
    color: #727f97;
    width: 300px;
    min-height: 100vh;
}

.list_title {
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

.list_title label {
    width: 100%;
    margin-left: 1px;
}

.list_singlerow {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: violet; */
    padding: 10px;
    /* justify-content: space-between; */
}

.list_singlerow_name_and_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.list_title_three_dots_icon {
    margin-right: 20px;
}

.list_singlerow_name {
    width: 110px;
}

.list_singlerow_role {
    width: 110px;
}

.list_singlerow_button {
    width: 110px;
    padding-left: 10px;
}

.list_singlerow_circle {
    background-color: white;
    /* background-color: tomato; */
    width: 40px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_singlerow label {
    margin-left: 10px;
    margin-right: 10px;
    color: #4D5E80;
}

.list_singlerow button {
    color: #4D5E80;
    border-radius: 20px;
    border: none;
    padding: 8px 15px;
    border: 1px solid #4D5E80;
}