.login { 
    width: 100%;
    background-color: #f4f5fa;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .login_outer_row1 {
    background-color: white;
    border: 0.5px solid rgba(223, 223, 223, 0.918);
    box-shadow: 10px;
    border-radius: 5px;
    align-items: center;
    justify-items: center;
    padding: 30px;
    min-height: 44vh;
  }
  
  .login_outer_row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #181819ed;
  }
  
  .login_inner_row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
  }
  
  .login_inner_row1 label {
    font-size: 25px;
    font-weight: 500;
    font-size: 1.2rem;
  }
  
  .login_inner_row1 img {
    width: 30px;
    margin-right: 5px;
  }
  .login_Err{
      color: red;
      font-size: 0.8rem;   
  }
  .login_inner_row2 {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 649;
  }
  
  .login_inner_row3 {
    font-size: 0.8rem;
    font-weight: 450;
    color: #9d9d9e;
  }
  
  .login_inner_row4 {
    margin-top: 15px;
  }
   
  .login_inner_row4 input, .login_inner_row5 input {
    padding: 13px 13px ;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.214);
    outline: none;
  }
  .login_inner_row4 input::placeholder, .login_inner_row5 input::placeholder{
      color: rgb(181, 180, 180);
      font-size: 15px;
      
  }
  
  .login_inner_row6 {
    margin: 10px;
    margin-right: 0px;
    justify-content: left;
    align-items: center;
    display: flex;
    
  }
  
  .login_inner_row6 label {
    color: #181819ed;
  }
  
  .login_inner_row6 input {
    height: 15px;
    width: 15px;
    margin-top: 5px;
  }
  
  .login_inner_row6 span {
    margin-left: 102px;
    color: #8c08ece0;
    text-decoration: none;
    cursor: pointer;
  }

  .login_inner_row6 a:hover{
    color: #7654b4;
    text-decoration: underline;
   }

  
  .login_inner_row7 {
    
  }
  
  .login_inner_row7 input {
    border-radius: 3px;
    color: rgb(255 255 255);
    background-color: #9155fd;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 8px;
    width: 100%;
  }

.login_inner_row7 input:hover{
  background-color: #7654b4;
  box-shadow: 0px 3px 5px 3px lightgray;
}


  
  .login_outer_row2 {
    margin-top: 35px;
  }
  
  .login_outer_row2 span {
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;
    font-weight: 500;
    margin-left: 5px;
  }

  .login_outer_row2 span:hover{
    color: #7654b4;
    text-decoration: underline;
  }

  .login_err1 {
    padding-top: 5px;
    color: red;
    font-size: 10px;
    position: absolute;
  }
  .Err {
    color: red;
    font-size: 10px;
    padding-top: 5px;
  }
  