

.Tasklist_Mainlist_row1 ul {
  width: 90%;
  display: flex;
  flex-direction: row;
  font-size: smaller bold;
  background-color: white;
  align-items: center;
  margin: 20px;
  padding-left: 40px;
  color:rgba(125, 143, 177, 1);


}

.Tasklist_Mainlist_row1 ul li {
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 25px;
  list-style-type: none;
  background-color: white;
  width: 90%;
  display: flex;
  flex-direction: row;
  font-size: smaller bold;
  font-family:Arial, Helvetica, sans-serif;
  align-items: center;
  margin: 15px;
  padding-right: 94px;
  color:rgba(125, 143, 177, 1);

}

.Tasklist_Cb{
  min-width: 15px;
  max-width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 15px;
  max-height: 15px;
  border-radius: 100px;
  color: #c3cad9;
  font-size: 1.2rem;
  border: 1px solid lightgray;
  margin-left: -42px;

  /* filter:blur(0.3px) */
  
  
}
.Tasklist_Mainlist_Innerbox {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 20%;
  box-shadow: 0px 0px 0px 1px #d3d3d361;

}
.Tasklist_Mainlist_list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}
.Tasklist_Mainlist_list_row_top{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #f3f3f4;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  height: 22px;

}



.Tasklist_Mainlist_list_row_topSelected{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #9155FD;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  height: 22px;
  color: white;
}
.Tasklist_Mainlist_list_row_topSelected div{
color:white
}

.Tasklist_Mainlist_list_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding-left: 20px;
  color:rgba(142, 154, 177, 1);
  font-family:Arial, Helvetica, sans-serif;
  height: 50px;

}
.Tasklist_Mainlist_list_row:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding-left: 20px;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  height: 50px;

}
/* .Mainlist_list_row7_top{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #9155FD;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
}
.Mainlist_list_row7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding-left: 20px;
} */

.Tasklist_Mainlist_Button {
  display: flex;
  flex-direction: row;
  margin-left: 50%;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid lightgray;
}
.Tasklist_Cb checkbox label:checked {
  background-color: rgb(215, 105, 21);

}
.Tasklist_Mainlist_list_row_top:hover{
  background-color:#9155FD;
}


.TaskList_Mainlist_header{
  display: flex;
  flex-direction: row;
  font-size: smaller bold;
  align-items: center;
  color:rgba(125, 143, 177, 1);
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 16px;
  margin-right: 147px;
  height: 30px;
  margin-top: 12px;
  margin-bottom: 21px;
}
.Tasklist_header1{
  margin-left: 65px;
}
.Tasklist_header2{
  margin-left: 62px;
}
.Tasklist_header3{
  margin-left: 92px;
}
.Tasklist_header4{
  margin-left: 88px;
}
.Tasklist_header5{
  margin-left: 142px;
}



.task_itmSubject{
  width: 55px;
  margin-left: 6px;
}
  
 
 .task_itmStatus{
  width: 64px;
  margin-left: 45px;
}
.task_itmdate{
  width: 112px;
  margin-left: 60px;
}
.task_itmLeadEmail{
  width: 190px;
  margin-left: 50px;
}
.task_itmowner{
  
     width: 100px; 
    margin-left: 20px;

}
