.sales_SalesOuter {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    border: 1px solid lightgrey;
    width: 100%;
}

.sales_SalesInner1,
.sales_SalesInner2,
.sales_SalesInner3 {
    background-color: rgb(245, 241, 241);
    min-width: 290px;
    height: 97%;
    display: flex;
    flex-direction: column;


}

.sales_Inner1_row1,
.sales_Inner2_row1,
.sales_Inner3_row1 {
    /* background-color: green; */
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.sales_dropdownicon {
    font-size: large;
}

.sales_Inner1_row1 label {
    color: red;
    margin-left: 5px;
    font-weight: bold;

}

.sales_Inner_row2 {
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.sales_Inner_row2_row1 {
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-weight: bold;

}


.sales_Inner_row2 ul {
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    list-style-type: none;

}

.sales_Inner_row2 li {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.sales_threedotsicon {
    margin-left: 30px;



}

.sales_eventicon,
.sales_taskicon,
.sales_leadicon {
    padding: 5px;
    font-size: x-large;
    color: rgb(255, 255, 255);
}

.sales_eventicon_outer,
.sales_taskicon_outer,
.sales_leadicon_outer {
    background-color: rgb(43, 173, 43);
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;

}

.sales_taskicon_outer {
    background-color: rgb(206, 22, 22);
}

.sales_leadicon_outer {
    background-color: blue;
}

.sales_Inner_row2 label {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3px;
    font-family: Arial, Helvetica, sans-serif;
    width: 91px;
}

.sales_Inner_row3 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
}

.sales_Inner_row3 label {
    margin-left: 8px;
}

.sales_Inner_row4 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}

.sales_Inner2_row1 label {
    color: orangered;
    margin-left: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.sales_Inner3_row1 label {
    color: green;
    margin-left: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.Event_Task_Lead_top {
    display: flex;
    flex-direction: row;
}

.Deletepop{
    position: relative;
}
.Deletepop :hover .pop{
    display: block;
}
.detail_box_row2{
    margin-left: 5px; 
    background-color: white;
     width: 80px;
    height: 30px;
    border: 1px lightcyan;
    box-shadow: 0px 2px 0px 0px #dfdcdcc6;
    border-radius: 5px;
    outline: none;
}

.detail_box_row2 select{
        padding: -7px;
        width: 96px;
        height: 30px;
        height: -0.5px;
        border: 1px lightcyan;
        box-shadow: 0px 2px 0px 0px #dfdcdcc6;
        border-radius: 5px;
        outline: none;
        padding-bottom: 4px;
        color: #757575;
        padding-left: 50px;
        padding-top: 4px;
}
.Deletepop:hover .sample_line {
    display: block;
}
.topbarlogout1 {
    /* color:white */
    color: rgb(188, 193, 216);
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown1 {
    position: relative;
    /* display: inline-block; */
}

.dropdown_content {
    display: none;
    /* box-shadow: 0px 8px 10px 0px rgba(199, 196, 196, 0.2); */
    position: absolute;
    width: 600%;
    height: auto;
    text-align: center;
    /* background-color: white; */
    z-index: 1;
    color: rgb(113, 123, 151);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -20px;
    margin-top: -20px;
    padding: 15px;
}

.dropdown_content_inside {
    padding: 10px;
    width: 80px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 9px 10px 1px rgba(199, 196, 196, 0.2);
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown_content label{
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 600
}