.sales_SalesOuter {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    border: 1px solid lightgrey;
    width: 100%;
}

.sales_SalesInner1,
.sales_SalesInner2,
.sales_SalesInner3 {
    background-color: rgb(245, 241, 241);
    min-width: 290px;
    height: 97%;
    display: flex;
    flex-direction: column;
    
   
}

.sales_Inner1_row1,
.sales_Inner2_row1,
.sales_Inner3_row1 {
    /* background-color: green; */
    padding: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.sales_dropdownicon {
    font-size: large;
}

.sales_Inner1_row1 label {
    color: red;
    margin-left: 5px;
    font-weight: bold;
   
}

.sales_Inner_row2 {
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.sales_Inner_row2_row1 {
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-weight: bold;

}


.sales_Inner_row2 ul {
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    list-style-type: none;

}

.sales_Inner_row2 li {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.sales_threedotsicon {
    margin-left: 30px;
}

.sales_eventicon,
.sales_taskicon,
.sales_leadicon {
    padding: 5px;
    font-size: x-large;
    color: rgb(255, 255, 255);
}

.sales_eventicon_outer,
.sales_taskicon_outer,
.sales_leadicon_outer {
    background-color: rgb(43, 173, 43);
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    
}

.sales_taskicon_outer {
    background-color: rgb(206, 22, 22);
}

.sales_leadicon_outer {
    background-color: blue;
}

.sales_Inner_row2 label {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3px;
    font-family:Arial, Helvetica, sans-serif;
    width: 91px;
}

.sales_Inner_row3 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
}

.sales_Inner_row3 label {
    margin-left: 8px;
}

.sales_Inner_row4 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}

.sales_Inner2_row1 label {
    color: orangered;
    margin-left: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.sales_Inner3_row1 label {
    color: green;
    margin-left: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.Event_Task_Lead_top{
    display: flex;
    flex-direction: row;
}
