.pending_outer {
    background-color: rgb(231 231 231 / 64%);
    height: 130vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: -8px;
}

.pending_inner {
    background-color: #ffffff;
    min-width: 28%;
    display: flex;
    flex-direction: column;
    border: 2.5px solid rgba(223, 223, 223, 0.918);
}

.pending_inner_row1 {
   margin-top: 35px;
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
}

.pending_inner_row1 label {
    display: flex;
    color: #000000a3;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding-left: 15px;
}

.pending_inner_row2 {
    margin: 5px;
}

.pending_inner_row2 input {
    outline: none;
    padding: 10px 8px ;
    border-radius: 5px;
    background-color: white;
    width: 96%;
    margin-top: 10px;
    margin-left: 7px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.214);
}
.pending_inner_row2 input::placeholder{
    color: rgb(181, 180, 180);
}
.pending_inner_row3 {
    
    display: flex;
    flex-direction: row;
}

.otp_inner_row3 button {
    width: 80%;
    padding: 10px;
    border: none;
    background-color: #9155fd;
    border-radius: 5px;
    color: rgb(255 255 255);
   margin: 15px;
    cursor: pointer;
}