

.DEbox{
    background-color: white;
   
  
    box-shadow: 2px 2px 2px 2px lightgray;
    height: 60px;
    width:80px ;
}
.text{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}
.text label{
    padding: 5px 0px;
    font-size: 10px;
}
.sample_line{
    background-color: black;
    height: 1px;
    width: 60px;
}