

.DEbox{
    position: absolute;
    background-color: rgb(237, 230, 230);
    margin-left: 5px;
    /* padding-top: 25px; */
    padding: 10px;
    width: 70px;
    height: 1px;
    margin-top: 4px;
    /* border: 1px solid lightgray; */
    border: 1px  lightcyan;
    box-shadow: 0px 2px 0px 0px #dfdcdcc6;
    border-radius: 5px;
    outline: none;
    padding-bottom: 18px;
    display: flex;
    justify-content: center;
}
