.Progressbarouter{
  margin-top: 20px;
  width: 100%;
}
.Progressbarouter_inner{
  background-color: #f3f3f4;
  min-width: 100px;
  /* background-color: blueviolet; */
  border-radius: 5px;
  width: 92%;
  padding: 7px;
  padding-top: 15px;

}

.Progressbarouter_inner_row1 label{
  font-size: 12px;
  color: #4D5E80;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
 
}
.Progressbarmore{
  margin: 0px 0px -4px 35px;
  color: #4D5E80;
}
.Progressbarouter_inner_row2 img{
  width: 87px;
  margin: 11px 14px 14px 44px;
}
















/* .Doughnutcon
{
    display:flex;
    flex-direction: column;
   align-items: center;
  justify-content: center;
     width: 400px;
    height: 400px;
    margin-top: 105px;
    margin-left: 305px;
  
  }
  .Doughnuttest
  {
        background-color: rgb(209, 151, 151);
        position: absolute;
        width: 173px;
        height: 173px;
        border-radius: 130px;
        display: flex;
        flex-direction: column;
        align-items: 5;
        align-items: 0;
        justify-content: center;
        margin-top: 54px;
        margin-left: 1px;
      
  }
  .Doughnuttest1{
    margin-left: 60px;

  } */