.summary {
    background-color: white;
    /* background-color: aqua; */
    border: 1px solid #95aac7;
    border-radius: 15px;
    /* height: 30%; */
    margin-top: 15%;
    min-width: 80%;
    min-height: 84%;
    margin-left: 60%;
    margin-bottom: 10%;
    padding-bottom: 10px;
    padding-right: 130px;


}

.summary_row1 {
    width: 130%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #6b7a99;
    /* padding: 5px 5%; */
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.summary_row1 .icon {
    margin-right: 40px;
    color: #4D5E80;
}

.summary_row1 label {
    font-family: Arial, Helvetica, sans-serif;
    color: #4D5E80;
}

.summarycount_label {
    color: #4D5E80;
    font-family: Arial, Helvetica, sans-serif;
}


.summary_row {
    /* background-color: crimson; */
    width: 120%;
    display: flex;
    flex-direction: row;
    /* padding: 5px 5%; */
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 5px;
}


.summary_single {
    font-size: 1rem;
    /* background-color: chartreuse; */
    /* background-color: rgb(242, 247, 248); */
    background-color: #f3f3f4;
    padding-top: 5%;
    height: 30px;
    width: 40px;
    color: #4D5E80;
    display: flex;
    flex-direction: column;
    font-size: x-small;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #f7f8fa;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;
    align-items: center;
    justify-content: space-evenly;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.summary_value {
    /* background-color: black; */
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}