.summarycount_outer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.summarycount_inner {
    /* background-color: black; */
    background-color: #f3f3f4;
    min-width: 100px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding: 45px;
    border-radius: 5px;
    height: 13vh;
}

.summarycount_label {
    font-size: small;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

.summarycount_inner label {
    color: #4D5E80;
    font-family: Arial, Helvetica, sans-serif;
}

.summarycount_inner_row1 {
    /* background-color: yellow; */
    margin-bottom: 50px;
    color: #4D5E80;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.summarycount_inner_row2 {
    /* background-color: violet; */
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 15px;
}

.summarycount_inner_row3 {
    /* background-color: tomato; */
    display: flex;
    flex-direction: row;
}

.summarycount_inner_row3_icon {
    color: green;
    font-size: large;
}

.summarycount_inner_row3 label {
    /* background-color: yellow; */
    margin-left: 10px;
    font-size: large;
    color: green;
}