
.titlebar_top{
    border: 1px solid lightgray;
    background-color: #f3f3f4;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titlebar_bagSquare{
    background-color: white;
    width: 20%;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titlebar_top_col1{
    width: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titlebar_top_col1 label{
    padding-top: 3px;
}

.titlebar_top_col1 label,
.titlebar_top_col21 label{
    font-size: 12px;
    color: #7C8AA5;
}
.titlebar_top_col2{
    width: 25%;
    display: flex;
    justify-content: space-around;
}
.titlebar_top_col21{
    background-color: white;
    width: 46%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px;
    border-radius: 20px;
    border: 1px solid #7C8AA5;
}
.titlebar_top_col22{
    background-color: #8833FF;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px;
    border-radius: 20px;
}
.titlebar_top_col21 label,
.titlebar_top_col22 label
{
    font-size: 10px;
    margin-top: 7px;
    
}
.titlebar_top_col22 label{
    color: #e5e5e5;
}
.titlebar_bagIcon,
.titlebar_plusIcon{
    color: #C3CAD9;
}
.titlebar_downloadIcon{
    color: rgb(113, 183, 183);
    font-weight: 100;
}