.AddCompaign_content {
    display: flex;
    flex-direction: row;
  }
  .AddCompaign_content_right {
    width: 97%;
    display: flex;
    padding: 100px;
    justify-content: center;
  }
  .AddCompaign_titlebar_component{
    width: 826px;
  }
  
  
  .AddCompaign_LeftBar{
    height: 90vh;
  }
  
  
  /* .AddLead_content_right_inside_form {
    padding: 40px;
  } */
  
  .AddCompaign_content_right_inside_form {
    border-left: 3px solid #f3f3f4;
    border-bottom: 3px solid #f3f3f4;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
  }
  
  .AddCompaign_text{
    color: green;
  }