.Admin_page {
    display: absolute;
    flex-direction: column;
}

.Admin_page_contentpart {
    display: flex;
    flex-direction: row;
}

.Admin_page_topbar {
    width: 220vh;
}

.Admin_page_contentpart_main {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    align-items: center;
    justify-content: center;
}

.Admin_page_contentpart_main_row1 {
    /* background-color: blue; */
    /* padding-right: -50px; */
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: -5px;
}

.Admin_page_contentpart_main_horizontal {
    /* background-color: yellow; */
    width: 43%;
    margin-left: 20px;
}

.Admin_page_contentpart_main_row2 {
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Admin_page_contentpart_main_row2_innerrow1 {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    margin-right: 20px;
    margin-left: -70px;
}

.Admin_page_contentpart_main_row2_innerrow2 {
    /* background-color: aqua; */
    padding-top: 50px;
    padding-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -20px;
    margin-right: 10px;
}


.Admin_page_contentpart_list {
    /* background-color: black; */
    margin-top: 35px;
    margin-left: -30px;
}