body{
    margin: 0px;
}
.Campaigneditpage_topbar{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    /* align-items:center; */
    width: 100%;
    /* padding-left: 70px; */
    /* max-width: 90%;
    min-width: 50%; */
    background-color: rgb(255, 255, 255);
    /* margin-bottom: 20px; */
}
.Campaigneditpage_topbar_1{
    background-color: blue;
    width: 99%;
}
.Campaigneditpage_topbar2{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    width: 100%;
}
.Campaigneditpage_topbar2_left{
    height: 127vh;
}
/* .Campaigneditpage_topbar2_right_1_1{
    /* width: 100vh; */

.Campaigneditpage_topbar2_right_2{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin-left: 10px;
    /* margin-right: 20px; */
    /* padding-left: 50px; */
    width: 100%;
}
.Campaigneditpage_topbar2_right{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    background-color:#ffffff;
    padding: 20px;
    margin-left: 50px;
    width: 100%;
}
.Campaigneditpage_topbar2_right_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* background-color: #ffffff; */
    /* margin-top: 10px; */
    /* margin-left: 20px; */
}
.Campaigneditpage_topbar2_right_2_left{
   padding-right: 10px;
   margin-left: 20px;
}
.Campaigneditpage_topbar2_right_2_right{
    width: 30%;
    margin-left: 135px;
    /* min-width: 20%; */
    justify-content: center;
    padding-bottom: 50px;
    margin-top: 60px;
    /* height: 40vh; */
}

.Campaigneditpage_topbar2_right_1_11{
    margin: 0px;
    width: 75%;
    /* margin-left: 50px; */
    height: 40px;
    margin-left: 100px;

    /* margin-left: 5%; */
    background-color: rgb(255, 255, 255);
    /* margin-top: 20%; */
}
.Campaigneditpage_topbar2_right_1_11 label{
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
}
.Campaigneditpage_topbar2_right_1_2{
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-top: 59px;
    width: 77%;
    margin-left: 100px;
    height: 35vh;
}


  
 
.Campaigneditpage_Checklist_popup{
    /* border: 1px solid grey; */
    box-shadow: 1px 1px 1px 2px #edebeb;
    position: absolute;
    margin-top: -386px;
    margin-left: 187px;
    border-radius: 20px;
}

.Campaigneditpage_Checklist_popup_blur{
    display: flex; 
    flex-direction: row;
    position: absolute;
    background-color:rgba(250, 250, 250, 0.71);
    margin-bottom: 23px;
    width: 100vw;
    height: 153vh;
    margin-top: -1040px;
    margin-left: -150px;
}

.form_successfullyupdate_text{
    padding-left: 100px;
color: green;
}