.Leadupdate_content {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Leadupdate_content_right {
    width: 97%;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
  }
  .Leadupdate_titlebar_component{
    width: 800px;
  }
  
  
  .Leadupdate_LeftBar{
    height: 90vh;
  }
  
  
  /* .Leadupdate_content_right_inside_form {
    padding: 40px;
  } */
  
  .Leadupdate_content_right_inside_form {
    border-left: 3px solid #f3f3f4;
    border-bottom: 3px solid #f3f3f4;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 5px;
    width: 810px;
  
  }
  
  .Leadupdate_text{
    color: green;
  }
  