body{
  margin: 0px;
  background-color: white;
} 
.Leadlist_Topbar{
  width: 100%;
}
.Leadlist_Content_right{
  min-width: 60%;
}

.div2{
  display: flex;
  flex-direction: row;
  
}
.div2_right{
  padding-top: 36px;
  
  
}

.Leadlist_Filterbar{
  margin-top: 20px;
  height: 60px;
  min-width: 124vh;
  margin-left: 15px;
}
.Leadlist_TitleBar{
  
  height: 30px;
  padding: 15px;
  width: 116vh;
  
}
.div2_left{
  height: 110vh;
}
.leadlistpage_Checklist_popup_blur{
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.71);
  margin-bottom: 23px;
  width: 105vw;
  height: 141vh;
  margin-top: -1091px;
  margin-left: -282px;
}


.leadlistpage_Checklist_popup{
  box-shadow: 1px 1px 1px 2px #edebeb;
  position: absolute;
  margin-top: -600px;
  margin-left: 264px;
  border-radius: 20px;

}