.ProspectListpage{
    display: absolute;
}
/* .ProspectListpage_Admindashboard{
 
} */
.ProspectListpage_LeftBar{

    height: 93vh;
}
.ProspectListpage_container{

    margin-left: 260px;
    margin-top: -600px;
    margin-right: 208px;
  

}
.ProspectListpage_Titlebar,.ProspectListpage_Filterbar{
    margin-right: 20px;
    margin-left: 20px;
}

.ProspectListpage_Filterbar{
width: 930px;
}


/* .ProspectListpage_Mainlist{

} */
