/* .salesdash_content{
    display: flex;
    flex-direction: row;
}
.salesdash_content_right{
    background-color: white; 
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    padding-right: 130px;
  
    
}
.salesdash_content_right_inside{
    height: 50%;
    width:70% ;
    border-color: black ;
  
} */

.salesdash_content{
    display: flex;
    flex-direction: row;
}
.salesdash_content_right{
    background-color: white; 
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    padding-right: 130px;
  
    
}
.salesdash_content_right_inside{
    height: 50%;
    width:70% ;
   
  
}
.salesdash_titlebar{
    padding-top: 23px;
    padding-bottom: 33px;
    height: 20px;
    width: 247mm;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: white; */
    margin-top: 28px;
}
