body {
  margin: 0px;
  background-color: white;
}
.Tasklist2_Topbar {
  width: 100%;
}
.Tasklist2_Content_right {
  min-width: 60%;
}

.Tasklist2_div2 {
  display: flex;
  flex-direction: row;
}
.Tasklist2_div2_right {
  padding-top: 80px;
  padding-left: 200px;
  width: 1020px;
}

.Tasklist2_Filterbar {
  margin-top: 20px;
  height: 60px;
  width: 140vh;
  margin-left: 15px;
}
.Tasklist2_TitleBar {
  height: 30px;
  padding: 15px;
  width: 131vh;
}
.Tasklist2_div2_left {
  height: 140vh;
}

.AT {
  background-color: #8833ff;
  color: #ffffff;
  border: none;
  outline: none;
}

.titlebar_downloadIcon {
  color: rgb(113, 183, 183);
  font-weight: 100;
}

.A1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* width:140%; */
  width: 186vh;
  justify-content: center;
  /* margin-bottom: 20%; */
  background-color: rgb(255 255 255 / 71%);
  margin-left: -28vh;
  height: 108vh;
  margin-top: -158px;
}

.AddtaskPage {
  height: 10vh;
  justify-content: center;
  align-items: center;
  width: 70vh;
  margin-left: 19%;
  margin-top: -22%;
}

.AddtaskPage label,
.AddtaskPage select {
  /* color: rgba(125, 143, 177, 1); */
}
.text_to_changecolor{
  color: rgba(125, 143, 177, 1);
  font-size: 12px;
}
.r1_details {
  justify-content: space-between;
  display: flex;
  width: 758px;
  padding-left: 10px;
  padding-right: 90px;
  background-color: #fafafa;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 1px 1px #e3e2e2;
}

.r1_bagsquare_addtaskbold {
  display: flex;
  align-items: center;
}

.addtaskbold label {
  padding-left: 20px;
  font-size: 20px;
  padding-right: 139px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(113, 123, 151);
}

.log {
  display: flex;
  padding-top: 30px;
  padding-right: 43px;
  font-size: 18px;
}

.email {
  display: flex;
  padding-top: 30px;
  padding-right: 20px;
  height: 0.5vh;
  text-decoration: underline;
  text-decoration-color: blueviolet;
  text-decoration-thickness: 5px;
  font-size: 18px;
}

.r1_details button {
  background-color: #9155fd;
  /* border-color: #FFFFFF; */
  border: none;
  border-radius: 18px;
  margin-left: 5px;
  color: #ffffff;
}

.r1_bagSquare {
  margin-top: 10px;
  background-color: white;
  width: 30px;
  padding-bottom: 5px;
}

.r1_bagIcon {
  display: flex;

  align-items: center;
  margin-top: 5px;
  margin-bottom: 8px;
  width: 25px;
}

.tasklist_r1_plusIcon {
  /* margin-right: 3px;
    width: 15px;
    background-color: C3CAD9;
    margin-top: 10px; */
  color: #c3cad9;
}

.tasklist_savetext_button {
  color: white;
  font-size: 15px;
}

.tasklist_r1_plus span {
  padding-left: 5px;
  padding-bottom: 3px;
}

.tasklist_r1_plus {
  background-color: #9155fd;
  display: flex;
  flex-direction: row;
  padding-top: 9px;
  padding-left: 7px;
  padding-bottom: 7px;
  width: 80px;
  align-items: center;
  height: 3vh;
  border-radius: 20px;
  margin-top: 7px;
  /* width: 90px;
    height: 4vh;
    border-radius: 12px;
    padding-left: 7px;
    padding-bottom: 8px;
    margin-right: -2%;
    margin-top: 8px;
    margin-left: -0.2%; */
}

.r2 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(113, 123, 151);
}

/* label {
    color: rgba(75, 73, 73, 0.726);
  
  } */

.rectangle_6 {
  background-color: #ffffff;
  height: 30px;
  width: 150px;
  margin-left: 3px;
}

.rectangle_1 {
  background-color: #ffffff;
  height: 30px;
  width: 150px;
}

.rectangle_2 {
  background-color: #ffffff;
  height: 30px;
  width: 150px;
  margin-right: 20px;
}

.r3 {
  font-size: 14px;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.r3 select,
.r4 select {
  min-width: 170px;
  min-height: 5vh;
  box-shadow: 0px 0px 0px 1px #d3d3d361;
  outline: none;
  border: none;
}

.r4 {
  font-size: 14px;
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 25px 0px;
}

.rectangle_3 {
  background-color: #ffffff;
  height: 30px;
  width: 150px;
  margin-left: 3px;
}

.rectangle_4 {
  background-color: #ffffff;
  height: 30px;
  width: 150px;
}

.rectangle_5 {
  background-color: #ffffff;
  height: 30px;
  width: 150px;
  margin-right: 20px;
}

.rowitems {
  background-color: #fafbfc;
  height: 33vh;
  margin-bottom: 100px;
  padding: 15px;
  width: 10px;
  width: 788px;
}

.full {
  background-color: #fafbfc;
  box-shadow: 0px 0px 0px 1px #d3d3d361;

  height: 50vh;
}

.S {
  background-color: white;
  margin-top: 20px;
  width: 102%;
  /* border: 0.2px solid gray; */
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px 2px #e3e2e2;
  height: 33px;
}

.button {
  outline: none;
  border: none;
  /* color: white; */
  width: 8px;
}

.rowitems {
  background-color: #fafafa;
  margin-top: 20px;

  margin-left: 10px;
}

.whitebg {
  background-color: white;
  display: flex;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 0px 1px #e3e2e2;
  height: 47vh;
  width: 858px;
}

.errors {
  padding-left: 30px;
  color: red;
  font-size: 15px;
  display: flex;
  position: absolute;
}

.errorc {
  padding-left: 30px;
  color: red;
  font-size: 15px;
  display: flex;
  position: absolute;
}

.errora {
  padding-left: 30px;
  color: red;
  font-size: 15px;
  display: flex;
  position: absolute;
}

.errorl {
  padding-left: 30px;
  color: red;
  font-size: 15px;
  display: flex;
  position: absolute;
}

.errorstatus {
  padding-left: 30px;
  color: red;
  font-size: 15px;
  display: flex;
  position: absolute;
}

.errord {
  padding-left: 30px;
  color: red;
  font-size: 15px;
  display: flex;
  position: absolute;
}

.errort {
  /* color: #4ed42e;
  font-size: 19px;
  display: flex;
  position: absolute;
  padding-top: 2%; */
 
    color: red;
    font-size: small;

}

.errormessage_mandatory{
  color: red;
}

.tasklist_cancel{
  margin-left: 40px;
  width: 53px;
  height: 37px;
  margin-right: -74px;
  color: #9155fd;
  margin-top: -4px;
}