.Userprofile_topbar{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  /* align-items:center; */
  width: 100%;
  /* padding-left: 70px; */
  /* max-width: 90%;
  min-width: 50%; */
  background-color: rgb(255, 255, 255);
  /* margin-bottom: 20px; */
}
.Userprofile_topbar_1{
  background-color: blue;
  width: 99%;
}
.Userprofile_topbar2{
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 100%;
}
/* .Campaigneditpage_topbar2_right_1_1{
  /* width: 100vh; */

.Userprofile_topbar2_right_2{
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  margin-left: 10px;
  /* margin-right: 20px; */
  /* padding-left: 50px; */
  width: 100%;
}
.Userprofile_topbar2_right{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  background-color:#ffffff;
  padding: 20px;
  margin-left: 50px;
  width: 100%;
}

.Userprofile_topbar2_right_2_left{
 padding-right: 10px;
 margin-left: 20px;
}
.Userprofile_topbar2_right_2_right{
  width: 30%;
  margin-left: 135px;
  /* min-width: 20%; */
  justify-content: center;
  padding-bottom: 50px;
  margin-top: 60px;
  /* height: 40vh; */
}

.Userprofile_topbar2_right_1_11{
  margin: 0px;
  width: 75%;
  /* margin-left: 50px; */
  height: 40px;
  margin-left: 100px;

  /* margin-left: 5%; */
  background-color: rgb(255, 255, 255);
  /* margin-top: 20%; */
}
.Userprofile_topbar2_right_1_11 label{
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
}
/* .Userprofile_topbar2_right_1_2{
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 59px;
  width: 77%;
  margin-left: 100px;
  height: 35vh;
} */
.Userprofile_TitleBar{
  /* justify-content: space-between;
  align-items: center; */
  /*background-color: rgb(255, 255, 255);
  margin-top: 59px;
  width: 77%;
  margin-left: 50px;
  height: 30%;
  width: 81%; */
   height: 30px;
  padding: 55px;
  width: 146vh;

  
}  

.Profile_outer {
  background-color:white;
  padding-left: 60px;
  margin-top: 60px;
  /* margin-right: 60px; */
  margin-right: 29px;
}
.Profile_outer_column1{
/* background-color:#f3f5fafa ;  */
background-color: #FAFAFA; 
  width: 200px;
  padding-top: 20px;
  float: left;
  padding-left: 60px;
  margin-left: -10px;
}
.Profile_outer_column1 img{
  width: 140px;
  margin: 25px 1px;
  

}
.Profile_name{
  font-size: 19px;
  margin: 2px 50px;
  /* color: #626366; */
  color: #717b97;
     font-family:Arial, Helvetica, sans-serif; 
  
}
.Profile_id{
  font-size: 15px;
  margin: 19px 55px;
  color: #C3CAD9;
}
.Profile_outer_row1 input{
     font-size: 17px;
  margin: 25px 10px;
  width: 840px;
  height: 30px;
  padding: 8px 20px;
   border: 3px;
   border-radius: 5px;
   outline: none;
    /* background-color: #f3f5fafa;  */
     background-color: #FAFAFA;  
     /* color: rgba(142, 154, 177, 1);  */
      color: #8e9ab1; 
      border: 1px  lightcyan;
      box-shadow: 0px 2px 0px 0px #dfdcdcc6;
      font-family: Arial, Helvetica, sans-serif;  

}
.Profile_Info{
    /* background-color: #f3f5fafa;   */
    background-color: #f5f7fefa;
   /* background-color: #FAFAFA;  */
   margin-left: 258px;
   padding-bottom: 30px;
   margin-right: 8%;
}
.Profile_more1{
  margin: -2px -33px;
  width: 20px;
  height: 20px;
  color: #a7a5a5c6;
}

.Profileouter_row2{
  display: flex;
  margin-top: 1px;
  margin-left: 30px;
  padding-top: 3px;
  padding-left: 10px;
  
}
.Profile_fn{
  margin-top: 1px;
  margin-left: -5px;
  padding-top: 2px;
  /* padding-left: 2px; */
 
  font-size: 15px;
  /* color: rgba(142, 154, 177, 1);  */
  color: #8e9ab1;
  font-family:Arial, Helvetica, sans-serif;
}
.Profile_ln{
  margin-top: 0px;
  margin-left: 145px;
  padding-top: 2px;
  /* padding-left: 2px; */
  
  font-size: 15px;
  /* color: rgb(113, 123, 151); */
  color: rgba(142, 154, 177, 1); 
  font-family:Arial, Helvetica, sans-serif;
  
}

.Profile_email{
  margin-top: 0px;
  margin-left: 145px;
  padding-top: 2px;
  padding-left: 2px;
  font-size: 15px;
  /* color: rgb(113, 123, 151); */
  color: rgba(142, 154, 177, 1); 
  font-family:Arial, Helvetica, sans-serif;
  
}
.Profile_dob{
  margin-top: -1px;
  margin-left: 173px;
  padding-top: 2px;
  padding-left: 2px;
  font-size: 15px;
  /* color: rgb(113, 123, 151); */
  color: rgba(142, 154, 177, 1); 
  font-family:Arial, Helvetica, sans-serif;
}
.Profileouter_row3{
  display: flex;
  margin-top: 20px;
  margin-left:20px;
  
}
.Profile_a3 input{
  margin-left: 5px;
  /* padding-top: 25px; */
  padding: 10px;
  width: 175px;
  /* border: 1px solid lightgray; */
  border: 1px  lightcyan;
  box-shadow: 0px 2px 0px 0px #dfdcdcc6;
  border-radius: 5px;
  outline: none;
  padding-bottom: 18px;
  
  
}
.Profile_b3 input{
  /* margin-left: 30px;
  padding: 20px;
  padding-top: 10px;
  width: 189px;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none; */
  margin-left: 20px;
  /* padding-top: 25px; */
  padding: 10px;
  width: 175px;
  /* border: 1px solid lightgray; */
  border: 1px  lightcyan;
  box-shadow: 0px 2px 0px 0px #dfdcdcc6;
  border-radius: 5px;
  outline: none;
  padding-bottom: 18px;
}
.Profile_c3 input{
  /* margin-left: 30px;
  padding-top: 25px;
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none; */
  margin-left: 20px;
  /* padding-top: 25px; */
  padding: 10px;
  width: 175px;
  /* border: 1px solid lightgray; */
  border: 1px  lightcyan;
  box-shadow: 0px 2px 0px 0px #dfdcdcc6;
  border-radius: 5px;
  outline: none;
  padding-bottom: 18px;

  
}
.Profile_d3 input{
  /* margin-left:30px;
  padding-top: 25px;
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
   */
   margin-left: 20px;
  /* padding-top: 25px; */
  padding: 10px;
  width: 180px;
  /* border: 1px solid lightgray; */
  border: 1px  lightcyan;
  box-shadow: 0px 2px 0px 0px #dfdcdcc6;
  border-radius: 5px;
  outline: none;
  padding-bottom: 18px;
}
/* .Profileouter_row3_downarrow{
  margin-top: 7px;
  margin-left: -26px;
  color: #717378;
  padding: 10px 33px 20px 1px;
} */
.Profileouter_row4{
display: flex;


}
.Profile_a4{
  margin-top: 7px;
  margin-left: 35px;
  padding-top: 2px;
  padding-left: 2px;
  font-size: 15px;
  /* color: rgb(113, 123, 151); */
  color: rgba(142, 154, 177, 1); 
  font-family:Arial, Helvetica, sans-serif;
}
.Profile_b4{
  margin-top: 7px;
  margin-left: 140px;
  padding-top: 2px;
  padding-left: 230px;
  font-size: 15px;
  /* color: rgb(113, 123, 151); */
  color: rgba(142, 154, 177, 1); 
  font-family:Arial, Helvetica, sans-serif;


}
.Profile_c4{
  margin-top: 7px;
  margin-left: 147px;
   padding-top: 2px; 
  padding-left: 2px;
  font-size: 15px;
  /* color: rgb(113, 123, 151); */
  color: rgba(142, 154, 177, 1); 
  font-family:Arial, Helvetica, sans-serif;
}
.Profileouter_row5{
  display: flex;
}
.Profile_a5 input{
  margin-left:25px;
  /* padding-top: 26spx; */
  padding: 10px;
  width: 390px;
  /* border: 1px solid lightgray; */
  border: 1px  lightcyan;
  box-shadow: 0px 2px 0px 0px #dfdcdcc6;
  border-radius: 5px;
  outline: none;
  margin-top:20px ;
  padding-bottom: 18px;

}
.Profile_b5 input{
  margin-left:20px;
  padding: 10px;
  width: 177px;
  /* border: 1px solid lightgray; */
  border: 1px  lightcyan;
  box-shadow: 0px 2px 0px 0px #dfdcdcc6;
  border-radius: 5px;
  outline: none;
  margin-top:20px ;
  padding-bottom: 18px;

}
.Profile_c5 input{
  margin-left:3px;
  padding: 10px;
  width: 180px;
  border: 1px  lightcyan;
  border-radius: 5px;
  outline: none;
  margin-top:20px ;
  padding-bottom: 18px;
  box-shadow: 0px 2px 0px 0px #dfdcdcc6;
  position: absolute;

}
.Profile_b5_btn {
  background-color: white;
  right: 30px;
  position: relative;
  top: 4px;
}
.err{
  padding-left: 30px;
  color: rgb(60, 200, 88);
  font-size: 10px;
  display: flex;
  position: absolute;
}
.errorf{
  padding-left: 30px;
  color: red;
  font-size: 10px;
  display: flex;
  position: absolute;
}
.errore{
  padding-left: 30px;
  color: red;
  font-size: 10px;
  display: flex;
  position: absolute;
}
.errord{
  padding-left: 30px;
  color: red;
  font-size: 10px;
  display: flex;
  position: absolute;
}
.errora{
  padding-left: 30px;
  color: red;
  font-size: 10px;
  display: flex;
  position: absolute;
}
.errorp{
  padding-left: 25px;
  color: red;
  font-size: 10px;
  display: flex;
  position: absolute;
}
.errorpn{
  padding-left: 25px;
  color: red;
  font-size: 10px;
  display: flex;
  position: absolute;
}
.errorc{
  padding-left: 15px;
  color: red;
  font-size: 10px;
  display: flex;
  position: absolute;
}
.erroru{
  padding-left: 30px;
  color:rgb(11, 184, 11);
  font-size: 17px;
  display: flex;
  position: absolute; 
  padding-top: 5px;
}